body {
    background-image: url("./BG/BG.jpg");
    background-color: #000000;
    height: 940px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  h1 {
    color: rgb(255, 255, 255);
    margin-left: 1cm;
  }